@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

* {
    margin: 0px;
    padding: 10px 5%;
    font-family: 'Source Code Pro', monospace;
}

body {
    background-color: #1E2124;
    color: rgb(234, 233, 233);
}

hr {
    padding: 0px;
    margin: auto;
    width: 30%
}

.emptyblock {
    padding-top: 4%;
}

/* Others */
.sub__heading {
    font-size: 19px
}


/* --------- me__info Section ---------*/

.me__info {
    padding-bottom: -20px;
}

.me__info-2 {
    font-size: 18px;
    color: rgb(160, 160, 160);
}

/* --------- about__me Section ---------*/
.about__me-1 {
    font-size: 18px;
}

.about__me-2 {
    text-align: center;
}

.about__me-2 ul {
    list-style: none;

    display: flex;
    justify-content: center;
}

.about__me-3{
    text-align: center;
}

/* --------- Cards ---------*/
.cards {
    height: 230px;
    width: 230px;

    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.cards:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cards-text {
    font-size: 23px;
}

.cards-container {
    display: flex;
    flex-flow: row wrap;

    justify-content: space-around;

}

/* --------- FontAwesome's Icons ---------*/
.myst_icon {
    font-size: 25px;
    padding: 1px;
}

.myst_icon-2 {
    padding: 0%;
}

.icons_ {
    font-size: 4rem;
    
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

    transition: 0.3s;
}

.icons_:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}
/* Website's Scrollbar */
::-webkit-scrollbar {
    width: 0.8vw;
  }
  
::-webkit-scrollbar-track {
    background: #1E2124;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #f5d073;
}
  
